<div class="button pointer mapbutton" {{action "showMap" alert}}>
  Show Map
  <div class="map-display"></div>
</div>

<!-- {{#each alerts as |alert|}}
  {{alert.line}}<br>
  {{alert.issue}}<br>
  {{alert.location}}<br>

  {{alert.latitude}}, {{alert.longitude}}<br><br>
{{/each}} -->
