<button {{action "showMap" alert}} class="btn btn-sm btn-primary">Show Map</button>


<div class="map-display"></div>

<!-- {{#each alerts as |alert|}}
  {{alert.line}}<br>
  {{alert.issue}}<br>
  {{alert.location}}<br>

  {{alert.latitude}}, {{alert.longitude}}<br><br>
{{/each}} -->
