<div class="newalert">
  {{#if addNewAlert}}
  <div class="form">
    <form>
      <div class="form-group">
        <label for="line"><span class="formemphasis">Select a Line:</span></label><br>
        {{view "select" content=lines
        optionValuePath="content.lineName"
        optionLabelPath="content.lineName"
        value=selectedLine}}
      </div>
      <div class="form-group">
        <label for="stop"><span class="formq">Select a Stop:</span></label>
        {{view "select" content=stops
        optionValuePath="content"
        optionLabelPath="content.stop_name"
        value=selectedStop}}
      </div>
      <div class="form-group">
        <label for="issue"><span class="formq">Issue:</span></label>
        {{textarea value=issue id="issue" cols="66" placeholder="New alerts expire in two hours."}}
      </div>
      <br>

      <div class="button pointer" {{action 'saveAlert'}}>Save</div>
    </form>
  </div>
  {{else}}
  <div class="button pointer" {{action 'alertFormShow'}}>Post Alert</div>
  {{/if}}
</div>
