{{#if addNewAlert}}
<h1>New Alert</h1>
<div>
  <form>
    <div class="form-group">
      <label for="line">Line: </label>
      {{input value=line id="line"}}
    </div>
  <br>
    <div class="form-group">
      <label for="issue">Issue: </label>
      {{input value=issue id="issue"}}
    </div>
  <br>
    <div class="form-group">
      <label for="location">Location: </label>
      {{input value=location id="location"}}
    </div>
    <br>
    <button {{action 'saveAlert'}}>Save</button>
  </form>
</div>
{{else}}
<button {{action 'alertFormShow'}}>Post Alert</button>
{{/if}}
